@font-face {
  font-family: "montserratregular";
  src: url("../fonts/montserrat-regular-webfont.eot");
  src: url("../fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.woff") format("woff"), url("../fonts/montserrat-regular-webfont.ttf") format("truetype"), url("../fonts/montserrat-regular-webfont.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding-top: 106px;
}

a {
  text-decoration: none;
}

/* ----------- header ------------------------------*/
header {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  background-color: #FFFFFF;
  top: 0;
  z-index: 9;
}
@media screen and (max-width: 1000px) {
  header {
    padding: 18px 20px;
  }
}
header .burger {
  position: relative;
  height: 100%;
  width: 400px;
  transition: all 800ms cubic-bezier(0.8, 0, 0.33, 1);
  border-radius: 0% 0% 100% 50%;
}
@media screen and (max-width: 3000px) {
  header .burger .menu-btn {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  header .burger .menu-btn {
    display: block;
    position: absolute;
    bottom: -10px;
    right: 5%;
    padding: 0;
    width: 30px;
    cursor: pointer;
    z-index: 2;
  }
}
header .burger .menu-btn .line {
  padding: 0;
  width: 30px;
  background: #333333;
  height: 2px;
  margin: 5px 0;
  transition: all 700ms cubic-bezier(0.9, 0, 0.33, 1);
}
header .burger .menu-btn .line.line--1 {
  width: 30px;
  transform: rotate(0) translateY(0);
}
header .burger .menu-btn .line.line--1.line-cross {
  width: 30px;
  transform: rotate(45deg) translateY(10px);
  background: rgba(0, 0, 0, 0.6);
}
header .burger .menu-btn .line.line--2 {
  width: 30px;
  transform: translateX(0);
}
header .burger .menu-btn .line.line--2.line-fade-out {
  width: 30px;
  transform: translate(30px);
  opacity: 0;
}
header .burger .menu-btn .line.line--3 {
  width: 30px;
  transform: rotate(0) translateY(0);
}
header .burger .menu-btn .line.line--3.line-cross {
  width: 30px;
  transform: rotate(-45deg) translateY(-10px);
  background: rgba(0, 0, 0, 0.6);
}
header .burger .nav-links {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: all 900ms cubic-bezier(0.9, 0, 0.33, 1);
}
header .burger .nav-links.fade-in {
  opacity: 1;
  transform: translateX(0px);
}
header .burger .nav-links .link {
  margin: 10px 0;
  text-decoration: none;
  font-family: "montserratregular";
  color: #333333;
  text-transform: uppercase;
  transition: all 300ms cubic-bezier(0.9, 0, 0.33, 1);
}
header .burger .nav-links .link:hover {
  color: rgba(0, 0, 0, 0.5);
}
header .burger.nav-open {
  transform: translateX(0px);
  border-radius: 0% 0% 0% 0%;
  background: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 500px) {
  header .burger.nav-open .desktop #navbar {
    display: block;
    transform: translatey(68%);
    position: absolute;
    top: -82px;
    right: -17px;
  }
  header .burger.nav-open .desktop #navbar li {
    display: block;
    background-color: #FFFFFF;
    padding: 2px;
    margin-top: 5px;
    -webkit-box-shadow: 2px 5px 5px 2px #7EC4BD;
    box-shadow: 2px 5px 5px 2px #7EC4BD;
    text-shadow: 2px 2px 5px #7EC4BD;
    text-align: center;
    font-size: 10px;
  }
}
header .desktop li {
  margin-left: 34px;
}
@media screen and (max-width: 700px) {
  header .desktop li {
    margin-left: 20px;
  }
}
@media screen and (max-width: 500px) {
  header .desktop li {
    display: none;
  }
}
header .desktop li a {
  font-family: "montserratregular";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #404040;
  display: inline-block;
  transition: 0.5s;
}
header .desktop li a:hover {
  transform: rotate(360deg);
}
@media screen and (max-width: 500px) {
  header .desktop li a:hover {
    transform: rotate(0deg);
  }
}

.container {
  max-width: 940px;
  margin: auto;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar {
  list-style: none;
  display: flex;
}

/* ----------- main-banner-section ------------------------------*/
.main-banner {
  background-image: url("../img/bg-main.jpg");
  background-size: cover;
  min-height: 391px;
  display: flex;
  position: relative;
}
.main-banner h1 {
  font-family: "montserratregular";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 55px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (max-width: 700px) {
  .main-banner h1 {
    font-size: 30px;
    line-height: 35px;
  }
}
@media screen and (max-width: 460px) {
  .main-banner h1 {
    font-size: 20px;
    line-height: 25px;
  }
}
@media screen and (max-width: 320px) {
  .main-banner h1 {
    font-size: 15px;
    line-height: 18px;
  }
}
.main-banner h1::after {
  content: "";
  display: block;
  width: 80px;
  height: 2px;
  background-color: #FFFFFF;
  margin: auto;
  margin-top: 28px;
  margin-bottom: 25px;
}
@media screen and (max-width: 700px) {
  .main-banner h1::after {
    width: 70px;
  }
}
@media screen and (max-width: 460px) {
  .main-banner h1::after {
    width: 60px;
    margin-top: 20px;
    margin-bottom: 18px;
  }
}
@media screen and (max-width: 320px) {
  .main-banner h1::after {
    width: 40px;
    margin-top: 16px;
    margin-bottom: 14px;
  }
}
.main-banner p {
  font-family: "Vollkorn", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.81);
}
@media screen and (max-width: 700px) {
  .main-banner p {
    font-size: 13px;
    line-height: 15px;
  }
}
@media screen and (max-width: 460px) {
  .main-banner p {
    font-size: 12px;
    line-height: 12px;
  }
}
.main-banner p::before {
  content: "";
  position: absolute;
  background-image: url(../img/IMAGE_x.svg);
  background-size: cover;
  width: 52px;
  height: 52px;
  left: calc(50% - 26px);
  bottom: -25px;
}
@media screen and (max-width: 700px) {
  .main-banner p::before {
    width: 40px;
    height: 40px;
    left: calc(50% - 20px);
    bottom: -19px;
  }
}
@media screen and (max-width: 320px) {
  .main-banner p::before {
    width: 30px;
    height: 30px;
    left: calc(50% - 15px);
    bottom: -14px;
  }
}

/* ----------- main-banner-description-section ----------------------*/
.main-banner-description {
  background-color: #FEFEC9;
  padding: 60px 0px;
  text-align: center;
}
@media screen and (max-width: 700px) {
  .main-banner-description {
    padding: 40px 0px;
  }
}
.main-banner-description p {
  font-family: "Vollkorn", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #47474F;
  margin-bottom: 39px;
}
@media screen and (max-width: 850px) {
  .main-banner-description p {
    padding: 0 15px;
  }
}
@media screen and (max-width: 700px) {
  .main-banner-description p {
    font-size: 13px;
    line-height: 15px;
  }
}
.main-banner-description a {
  font-family: "Vollkorn", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #47474F;
  display: inline-block;
  padding: 13px 34px 20px;
  border: solid 1px #47474F;
  border-bottom: solid 2px #47474F;
  text-decoration: none;
}
@media screen and (max-width: 700px) {
  .main-banner-description a {
    font-size: 13px;
    line-height: 15px;
    padding: 10px 25px 15px;
  }
}

/* ----------- section-brands ------------------------------*/
.brands {
  padding: 79px 0px 74px;
  background: #FFFFFF;
  text-align: center;
}
@media screen and (max-width: 700px) {
  .brands {
    padding: 39px 0px 34px;
  }
}
.brands h2 {
  font-family: "montserratregular";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}
@media screen and (max-width: 700px) {
  .brands h2 {
    font-size: 20px;
    line-height: 30px;
  }
}
@media screen and (max-width: 460px) {
  .brands h2 {
    font-size: 17px;
    line-height: 25px;
  }
}
@media screen and (max-width: 320px) {
  .brands h2 {
    font-size: 14px;
    line-height: 20px;
  }
}
.brands h2::after {
  content: "";
  display: block;
  width: 80px;
  height: 2px;
  background: rgba(0, 0, 0, 0.09);
  margin: auto;
  margin-top: 28px;
  margin-bottom: 43px;
}
@media screen and (max-width: 700px) {
  .brands h2::after {
    width: 70px;
  }
}
@media screen and (max-width: 460px) {
  .brands h2::after {
    width: 60px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 320px) {
  .brands h2::after {
    width: 40px;
    margin-top: 16px;
    margin-bottom: 25px;
  }
}
.brands article {
  max-width: 300px;
  margin: auto;
}
@media screen and (max-width: 615px) {
  .brands article {
    max-width: 250px;
  }
}
@media screen and (max-width: 520px) {
  .brands article {
    max-width: 200px;
  }
}
@media screen and (max-width: 415px) {
  .brands article {
    max-width: 180px;
  }
}
@media screen and (max-width: 370px) {
  .brands article {
    max-width: 150px;
  }
}
@media screen and (max-width: 310px) {
  .brands article {
    max-width: 135px;
  }
}
.brands h4 {
  font-family: "montserratregular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  padding: 38px 0px 20px;
}
@media screen and (max-width: 700px) {
  .brands h4 {
    font-size: 13px;
    line-height: 13px;
  }
}
@media screen and (max-width: 370px) {
  .brands h4 {
    font-size: 12px;
    line-height: 10px;
  }
}
@media screen and (max-width: 330px) {
  .brands h4 {
    font-size: 11px;
    line-height: 10px;
    padding: 25px 0px 15px;
  }
}
.brands p {
  margin-left: 30px;
  font-family: "Vollkorn", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #333333;
  margin: auto;
}
@media screen and (max-width: 700px) {
  .brands p {
    font-size: 12px;
    line-height: 16px;
  }
}
@media screen and (max-width: 520px) {
  .brands p {
    font-size: 11px;
    line-height: 14px;
  }
}
@media screen and (max-width: 415px) {
  .brands p {
    font-size: 10px;
    line-height: 12px;
  }
}

.container-img {
  background: #F5F5F5;
  padding: 50px 86px;
}
@media screen and (max-width: 1000px) {
  .container-img {
    padding: 30px 46px;
  }
}
@media screen and (max-width: 540px) {
  .container-img {
    padding: 20px 30px;
  }
}
@media screen and (max-width: 330px) {
  .container-img {
    padding: 15px 20px;
  }
}
.container-img img {
  width: 100%;
  display: block;
}

/* ----------- owl-carousel  ------------------------------*/
.owl-stage {
  display: flex;
  align-items: center;
}

.owl-item {
  text-align: center;
}

.owl-nav .owl-prev:before {
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  content: "\f053";
  display: inline-block;
  font-size: 40px;
  color: #000000;
  position: absolute;
  left: -35px;
  top: 85px;
}
@media screen and (max-width: 1000px) {
  .owl-nav .owl-prev:before {
    display: none;
  }
}
.owl-nav .owl-next:before {
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  content: "\f054";
  display: inline-block;
  font-size: 40px;
  color: #000000;
  position: absolute;
  right: -35px;
  top: 85px;
}
@media screen and (max-width: 1000px) {
  .owl-nav .owl-next:before {
    display: none;
  }
}

.owl-nav .owl-prev:hover::before,
.owl-nav .owl-next:hover::before {
  color: #7EC4BD;
}

.owl-dots {
  text-align: center;
}
.owl-dots .owl-dot span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 5px;
  background-color: #7EC4BD;
  border-radius: 50%;
}
@media screen and (max-width: 849px) {
  .owl-dots .owl-dot span {
    width: 7px;
    height: 7px;
  }
}
@media screen and (max-width: 553px) {
  .owl-dots .owl-dot span {
    width: 5px;
    height: 5px;
  }
}

.owl-dots .owl-dot.active span {
  background-color: rgba(145, 225, 217, 0.5058823529);
}

/* ----------- section-recent-project ------------------------------*/
.recent-projects {
  padding-top: 79px;
  background: #F5F5F5;
  padding-bottom: 69px;
}
@media screen and (max-width: 540px) {
  .recent-projects {
    padding-top: 39px;
    padding-bottom: 39px;
  }
}
@media screen and (max-width: 320px) {
  .recent-projects {
    padding: 39px 10px;
  }
}
.recent-projects img {
  width: 100%;
  display: block;
}
.recent-projects h2 {
  font-family: "montserratregular";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}
@media screen and (max-width: 700px) {
  .recent-projects h2 {
    font-size: 20px;
    line-height: 30px;
  }
}
@media screen and (max-width: 460px) {
  .recent-projects h2 {
    font-size: 17px;
    line-height: 25px;
  }
}
@media screen and (max-width: 320px) {
  .recent-projects h2 {
    font-size: 14px;
    line-height: 20px;
  }
}
.recent-projects h2::after {
  content: "";
  display: block;
  width: 80px;
  height: 2px;
  background: rgba(0, 0, 0, 0.09);
  margin: auto;
  margin-top: 28px;
  margin-bottom: 43px;
}
@media screen and (max-width: 700px) {
  .recent-projects h2::after {
    width: 70px;
  }
}
@media screen and (max-width: 460px) {
  .recent-projects h2::after {
    width: 60px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 320px) {
  .recent-projects h2::after {
    width: 40px;
    margin-top: 16px;
    margin-bottom: 25px;
  }
}
.recent-projects h4 {
  font-family: "montserratregular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  padding: 19px 0px 4px;
}
@media screen and (max-width: 700px) {
  .recent-projects h4 {
    font-size: 13px;
    line-height: 13px;
  }
}
@media screen and (max-width: 370px) {
  .recent-projects h4 {
    font-size: 12px;
    line-height: 10px;
  }
}
.recent-projects p {
  font-family: "Vollkorn", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #333333;
  padding-bottom: 21px;
}
@media screen and (max-width: 700px) {
  .recent-projects p {
    font-size: 12px;
    line-height: 16px;
  }
}
@media screen and (max-width: 520px) {
  .recent-projects p {
    font-size: 11px;
    line-height: 14px;
  }
}
@media screen and (max-width: 415px) {
  .recent-projects p {
    font-size: 10px;
    line-height: 12px;
  }
}
.recent-projects article {
  max-width: 300px;
  margin: auto;
  margin-bottom: 20px;
  background-color: #FFFFFF;
}
@media screen and (max-width: 925px) {
  .recent-projects {
    padding: 40px 15px 0px;
  }
}

.f-wrap {
  flex-wrap: wrap;
}

/* ----------- section-our-team ------------------------------*/
.our-team {
  padding: 79px 0px 74px;
  background: #FFFFFF;
  text-align: center;
}
@media screen and (max-width: 620px) {
  .our-team {
    padding: 40px 0px 34px;
  }
}
.our-team article {
  max-width: 220px;
  margin: auto;
}
@media screen and (max-width: 925px) {
  .our-team article {
    padding: 40px 15px 0px;
  }
}
.our-team h2 {
  font-family: "montserratregular";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}
@media screen and (max-width: 700px) {
  .our-team h2 {
    font-size: 20px;
    line-height: 30px;
  }
}
@media screen and (max-width: 460px) {
  .our-team h2 {
    font-size: 17px;
    line-height: 25px;
  }
}
@media screen and (max-width: 320px) {
  .our-team h2 {
    font-size: 15px;
    line-height: 20px;
  }
}
.our-team h2:after {
  content: "";
  display: block;
  width: 80px;
  height: 2px;
  background: rgba(0, 0, 0, 0.09);
  margin: auto;
  margin-top: 28px;
  margin-bottom: 43px;
}
@media screen and (max-width: 700px) {
  .our-team h2:after {
    width: 70px;
  }
}
@media screen and (max-width: 460px) {
  .our-team h2:after {
    width: 60px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 320px) {
  .our-team h2:after {
    width: 40px;
    margin-top: 16px;
    margin-bottom: 25px;
  }
}
.our-team h4 {
  font-family: "montserratregular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  padding: 20px 0px 6px;
}
@media screen and (max-width: 700px) {
  .our-team h4 {
    font-size: 13px;
    line-height: 13px;
  }
}
@media screen and (max-width: 370px) {
  .our-team h4 {
    font-size: 12px;
    line-height: 10px;
  }
}
.our-team p {
  font-family: "Vollkorn", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #333333;
  padding-bottom: 29px;
}
@media screen and (max-width: 700px) {
  .our-team p {
    font-size: 12px;
    line-height: 16px;
  }
}
@media screen and (max-width: 520px) {
  .our-team p {
    font-size: 11px;
    line-height: 14px;
  }
}
.our-team ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
.our-team ul li {
  margin-right: 13px;
  display: inline-block;
}

.container-img-our img {
  width: 100%;
  display: block;
}

/* ----------- reviews ------------------------------*/
.reviews {
  background-color: #F5F5F5;
  padding: 69px 0 98px;
  position: relative;
}
@media screen and (max-width: 950px) {
  .reviews {
    padding: 69px 10px 98px;
  }
}
.reviews .quotes img {
  display: block;
  margin: auto;
  margin-bottom: 65px;
}
.reviews h4 {
  font-family: "Vollkorn", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 33px;
  text-align: center;
  color: #333333;
  padding-bottom: 24px;
  max-width: 338px;
  margin: auto;
  height: 100px;
}
@media screen and (max-width: 750px) {
  .reviews h4 {
    font-size: 20px;
    line-height: 25px;
  }
}
@media screen and (max-width: 571px) {
  .reviews h4 {
    height: 120px;
  }
}
@media screen and (max-width: 460px) {
  .reviews h4 {
    font-size: 17px;
    line-height: 20px;
  }
}
@media screen and (max-width: 320px) {
  .reviews h4 {
    font-size: 15px;
    line-height: 17px;
  }
}
.reviews h4:after {
  content: "";
  display: block;
  width: 2px;
  height: 215px;
  background: rgba(0, 0, 0, 0.04);
  position: absolute;
  left: calc(50% - 1px - 1px);
  top: 197px;
}
.reviews p {
  font-family: "montserratregular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ABABAB;
}
@media screen and (max-width: 460px) {
  .reviews p {
    font-size: 12px;
    line-height: 16px;
  }
}
@media screen and (max-width: 356px) {
  .reviews p {
    height: 20px;
  }
}

.container-reviews {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 940px;
  margin: auto;
}
.container-reviews article {
  max-width: 447px;
  padding: 0 10px;
}

.container-img-rev img {
  display: block;
  margin: auto;
  padding-bottom: 10px;
}

/* ----------- let-section ------------------------------*/
.let {
  background-image: url("../img/bg-let.svg");
  background-size: cover;
  padding: 79px 0 75px;
  text-align: center;
}
.let h2 {
  font-family: "montserratregular";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}
.let h2:after {
  content: "";
  display: block;
  width: 80px;
  height: 2px;
  background: rgba(0, 0, 0, 0.09);
  margin: auto;
  margin-top: 28px;
  margin-bottom: 63px;
}
.let article {
  max-width: 300px;
}
.let h4 {
  font-family: "montserratregular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  padding-bottom: 20px;
}
.let .mail li:nth-child(2) {
  margin-bottom: 20px;
}
.let .social {
  font-family: "Vollkorn";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #212121;
}
.let .social li {
  padding-bottom: 11px;
}
.let .social li a {
  color: #212121;
}
.let .social li::before {
  content: "";
  display: inline-block;
  background-image: url(../img/facebook.svg);
  height: 14px;
  width: 14px;
  margin-right: 9px;
}
.let .social li:nth-child(2)::before {
  background-image: url(../img/twitter.svg);
  height: 12px;
}
.let .social li:nth-child(3)::before {
  background-image: url(../img/linkedin.svg);
}
.let li {
  font-family: "Vollkorn";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  color: #212121;
  list-style: none;
}

.location-mail-heart .cont-lmh {
  min-height: 70px;
}
.location-mail-heart img {
  padding-bottom: 26px;
}

/* ----------- footer ------------------------------*/
footer {
  padding: 69px 0px 75px;
  background: #000000;
  text-align: center;
  align-items: center;
}
footer form .container-footer:first-of-type input, footer form .container-footer:nth-child(3) input {
  background: rgba(255, 255, 255, 0.18);
}
footer form .container-footer:nth-child(2) input {
  background: rgba(255, 255, 255, 0.2);
}

.container-footer {
  max-width: 564px;
  margin: auto;
}

.name,
.email,
.budget {
  font-family: "Vollkorn", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #FFFFFF;
  border: none;
  height: 57px;
  padding: 0px 31px;
  width: 100%;
}
.name:focus,
.email:focus,
.budget:focus {
  outline: none;
}

.message {
  margin-bottom: 37px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  height: 127px;
  resize: none;
  width: 100%;
  font-family: "Vollkorn", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #FFFFFF;
  overflow: hidden;
  padding: 18px 31px 88px 31px;
}
.message:focus {
  outline: none;
}

.footer-button {
  border: 1px solid #7EC4BD;
  border-bottom: 2px solid #7EC4BD;
  font-family: "Vollkorn", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  color: #8BCAC3;
  background-color: transparent;
  padding: 15px 60px 16px;
  transition: 0.5s;
}
.footer-button:hover {
  color: #000000;
  border: 1px solid #FEFEC9;
  border-bottom: 2px solid #FEFEC9;
  text-decoration: underline;
  background-color: #FEFEC9;
  border: 1px solid #7EC4BD;
  border-bottom: 2px solid #7EC4BD;
}

.footer-logo {
  padding: 37px 0px 14px;
}

.p-footer {
  font-family: "Vollkorn", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
}

/*Style Placeholder*/
::-webkit-input-placeholder {
  color: #FFFFFF;
}

::-moz-placeholder {
  color: #FFFFFF;
}

:-moz-placeholder {
  color: #FFFFFF;
}

:-ms-input-placeholder {
  color: #FFFFFF;
}